flask==3.1.1
flask-cors==5.0.1
gunicorn==23.0.0
Pillow==11.1.0
numpy==1.26.4
scipy==1.14.1
matplotlib==3.9.4
torch==2.5.1+cpu
torchvision==0.20.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
git+https://github.com/matthias-k/DeepGaze.git@v1.2.0
